* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: light dark;
    --text-color: black;
    --bg-color: white;
    --spacing: 20px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --bg-color: black;
    }
}

html {
    height: 100%;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--spacing);
    margin: 0;
    padding: 0 var(--spacing);
    font: -apple-system-short-body;
    text-align: center;
}

body:not(.platform-mac, .platform-ios) :is(.platform-mac, .platform-ios) {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body.platform-mac .platform-ios {
    display: none;
}

body.platform-ios .platform-mac {
    display: none;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

span.link {
    cursor: pointer;
    margin: var(--spacing);
    color: #222;
    box-sizing: border-box;
    background-color: transparent;
    height: auto;
    min-height: 50px;
    border: solid 2px #222;
    border-radius: 25px;
    padding: 13px 23px;
    font-size: 19px;
    font-weight: 700;
}

span.link.platform-mac {
    min-height: 32px;
    border-radius: 16px;
    font-size: 14px;
    padding: 5px 14px;
}

span.link.accent {
    color: white;
    background-color: #1473e6;
    border-color: #1473e6;
}

img.logo {
    margin: 0 auto;
}

img.platform-ios.logo {
    margin-bottom: 2em;
}

ol {
    text-align: left;
}

ul {
    padding: 0;
}

main {
    width: 100%;
}

textarea#error {
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
}

.default-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Carousel block styles */

.section.carousel-container {
    padding: 0;
    height: 0;
}

.carousel {
    position: absolute;
    top: -1000px;
    width: calc(100% - (var(--spacing) * 2));
    color: var(--text-color);
    background: var(--bg-color);
    height: 90vh;
    order: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    transition: display 0.5s;
}

.carousel .carousel-slide-container {
    padding: 0;
    width: 100%;
    height: calc(90vh - 40px);
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    transition: height 0.2s linear;
}

.carousel .carousel-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 0.5s;
}

.carousel .carousel-slide div {
    min-height: 3em;
}

.carousel .carousel-slide div:first-child {
    flex-grow: 1;
}

.carousel .carousel-slide > figure {
    align-content: center;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 0;
    justify-content: space-between;
    margin: 0 auto;
    width: fit-content;
}

.carousel .carousel-slide > figure img {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    margin-bottom: 0;
    margin-right: 0;
}

.carousel ul.carousel-dots {
    padding: var(--spacing) 0;
    width: 100%;
    left: 50%;
    margin-top: 0;
    margin-bottom: 0;
    order: 2;
    max-width: inherit;
    display: flex;
    flex-flow: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.carousel .carousel-dots li {
    width: 12px;
    height: 12px;
    box-shadow: inset 0 0 100px 100px var(--text-color);
    opacity: 0.5;
    cursor: pointer;
    border-radius: 50%;
}

.carousel .carousel-dots li.carousel-dots-active {
    box-shadow: inset 0 0 100px 100px red;
    opacity: 1;
}

.carousel .carousel-dots button {
    display: none;
}

/* Close button */

#tour-close {
    z-index: 1;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -1000px;
    right: 0;
    cursor: pointer;
}

#tour-close::before,
#tour-close::after {
    content: "";
    font-size: 0;
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    top: 18px;
    left: 12px;
}

#tour-close::after {
    transform: rotate(-45deg);
}

