/*
 * Copyright 2021 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  --background-color: 255, 255, 255;
  --text-color: 48, 57, 66;
  --link-color: 3, 95, 230;
  --border-color: 221, 221, 221;
  --button-background-image: linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
  --button-hover-background-image: linear-gradient(#F0F0F0, #F0F0F0 38%, #E0E0E0);
  --button-active-background-image: linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
  --button-disabled-background-image: linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
  --sidebar-color: 92, 97, 102;
  --sidebar-link-color: 153, 153, 153;
  --sidebar-selected-color: 78, 87, 100;
  --input-text-color: 0, 0, 0;
  --input-disabled-background-color: 238, 238, 238;
  --input-border-color: 153, 153, 153;
  --text-color-help: 153, 153, 153;
  --text-color-warn: 204, 0, 0;
  --text-color-success: 0, 204, 0;
  --editor-background-color: 238, 238, 238;
  --config-title-color: 68, 68, 68;
}

@media (prefers-color-scheme: dark) {
  :root {
      --background-color: 17, 17, 17;
      --text-color: 255, 255, 255;
      --link-color: 21,190,236;
      --border-color: 51, 51, 51;
      --button-background-image: linear-gradient(#121212, #121212 38%, #212121);
      --button-hover-background-image: linear-gradient(#0F0F0F, #0F0F0F 38%, #1F1F1F);
      --button-active-background-image: linear-gradient(#121212, #121212 38%, #212121);
      --button-disabled-background-image: linear-gradient(#121212, #121212 38%, #212121);
      --sidebar-color: 163, 158, 153;
      --sidebar-link-color: 102, 102, 102;
      --sidebar-selected-color: 51, 87, 153;
      --input-border-color: 153, 153, 153;
      --editor-background-color: 34, 34, 34;
      --config-title-color: 188, 188, 188;
    }
}

body {
	margin: 0;
  padding: 0;
	font-family: sans-serif;
	font-size: 16px;
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-color));
}


h1, h2, h3 {
	line-height: 1;
}
h1 {
	font-size: 2rem;
	margin: 1.6rem 0 0.8em;
}
h3 {
	font-size: 1.2rem;
	margin-bottom: 0.8em;
}

a, a:any-link {
  color: rgb(var(--link-color));
}

p {
	margin: 0.65em 0;
}

ul.quiet {
  list-style: none;
  padding-left: 0;
}

li {
  padding: 5px 0;
}

nav {
	position: fixed;
	width: calc((100vw - 598px) / 2);
  left: 0;
}
nav .menu {
  display: none;
}
nav > a {
  font-size: 0;
  line-height: 0;
}
nav ul {
	list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
nav ul > li {
  margin: 0;
	padding-right: 30px;
  padding-bottom: 10px;
}
nav ul > li a, nav ul > li a:any-link {
	display: inline-block;
	color: rgb(var(--sidebar-link-color));
	text-decoration: none;
	line-height: 17px;
  cursor: pointer;
}
nav ul > li.selected a, nav ul > li.selected a:any-link {
	color: rgb(var(--sidebar-selected-color));
}

nav, header {
	z-index: 3;
}
header {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
	border-bottom: 1px solid rgb(var(--border-color));
	background: linear-gradient(rgb(var(--background-color)), rgb(var(--background-color)) 40%, rgba(var(--background-color), 0.92));
  padding: 0 20px;
  max-width: 580px;
}

header, main {
  margin: 0 auto;
}

main {
  max-width: 578px;
  margin-top: 70px;
  padding: 20px 20px 0 20px;
	border: 1px solid rgb(var(--border-color));
}

.area:not(:first-of-type) {
	border-top: 1px solid rgb(var(--border-color));
}

.area:not(:last-of-type) {
  margin-bottom: 24px;
}

.area > h2 {
  cursor: pointer;
}

.area > h2::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  margin-top: 2px;
  transform: rotate(135deg);
  vertical-align: top;
  width: 0.45em;
  margin-left: 10px;
}

.area.expanded > h2::after {
  margin-top: 10px;
  transform: rotate(-45deg);
}

.area > div {
  display: none;
  padding-top: 10px;
}

.area > div:first-of-type {
  padding-top: 0;
}

.area.expanded > div {
  display: block;
}

section {
  padding-left: 18px;
  padding-right: 18px;
	margin-top: 8px;
	margin-bottom: 24px;
}

section:last-of-type {
  margin-bottom: 0;
}

hr {
  margin: 6px 0;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
	border-top: 1px solid rgb(var(--border-color));
}

textarea, input[type="url"], input[type="text"] {
  font-family: sans-serif;
  width: 500px;
  padding: 5px;
  font-size: 1rem;
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-color));
	border: solid rgb(var(--input-border-color)) 1px;
}

input.version,
input[type="number"] {
	width: 152px;
}

input[disabled] {
	background-color:rgb(var(--input-disabled-background-color));
}

p.mandatory::after {
  content: "*";
  color: var(--text-color-warn);
  margin-left: 4px;
}

.help {
	color:rgb(var(--text-color-help));
}

.warn, .error {
	color:rgb(var(--text-color-warn));
}

.success {
	color: rgb(var(--text-color-success));
}

.hidden {
  display: none;
}

section > div {
	width: 540px;
	display: inline-block;
	vertical-align: top;
}

section > div:first-of-type {
	margin-right:20px;
}

#configs {
  padding-top: 0;
}

#configs:empty {
  border-radius: 5px;
  border: solid 1px rgb(var(--border-color));
  max-width: 558px;
  min-height: 80px;
  display: flex;
  align-items: baseline;
}

#configs:empty::before {
  display: inline;
  margin: auto;
  font-size: 1rem;
  color: rgb(var(--text-color-help));
  content: "__MSG_config_project_empty__";
}

section.config {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 12px 24px 12px 0;
  border-radius: 5px;
  border: solid 1px rgb(var(--border-color));
}

section.config > div:first-of-type {
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow-x: hidden;
  vertical-align: middle;
  padding: 12px 24px;
}

section.config > div:first-of-type {
  flex-grow: 1;
}

section.config > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 100px;
  text-align: right;
}

button {
  min-width: 80px;
  margin: 6px 0;
  padding: 3px 6px;
}

section.config button.success {
  outline: rgb(var(--text-color-success)) auto 1px;
}

section.config h4 {
  margin-top: 10px;
  color: rgb(var(--config-title-color));
}

section.config.unsupported h4 span {
  margin-left: 10px;
  font-size: 16px;
  color: rgb(var(--text-color-warn));
}

section.config p {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section.config input.favorite {
  margin-top: 3px;
  margin-left: 10px;
}

section.config p .property {
  margin-right: 10px;
}

section.config p .property::after {
  content: ":";
}

section.config input.favorite::after {
  vertical-align: top;
  content: "__MSG_config_project_favorite__";
  margin-left: 20px;
  font-size: 0.75rem;
  color: rgba(var(--text-color), 0.5);
}

#configEditor {
  background-color: rgb(var(--editor-background-color));
  display: block;
  padding: 20px;
}

#configEditor > div {
  padding-right: 0;
  padding-bottom: 0;
}

#configEditor input[type="text"] {
  width: 490px;
}

#configEditor button {
  margin-right: 10px;
}

.advanced-only {
  display: none;
}

body.advanced .advanced-only {
  display: block;
}

@media(max-width:899px) {
  nav {
    position: fixed;
    width: 100%;
    top: 0;
  }
  nav .menu-container {
    position: relative;
    display: block;
  }
  nav .menu {
    margin: 38px 20px 33px 20px;
  }
  nav .menu,
  nav .menu::after,
  nav .menu::before {
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      width: 20px;
      max-width: 20px;
      height: 2px;
      background: rgb(var(--text-color));
  }
  nav .menu::after,
  nav .menu::before {
      content: "";
      position: absolute;
      top: -6px;
  }
  nav .menu::after {
      top: 6px;
  }
  nav ul {
    display: none;
    position: fixed;
    padding-top: 10px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--background-color));
    text-align: left;
  }
  nav ul.appear {
    display: block;
  }
  nav ul > li {
    font-size: 1.3rem;
    padding: 10px 0;
  }
  header {
    max-width: 100vw;
    text-align: center;
  }

  main {
    border: none;
  }

  section > div {
    width: 100%;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  textarea, input[type="text"]:not(.version), input[type="url"] {
    width: 90%;
  }

  section.config p .property {
    display: none;
  }

  #configEditor input[type="text"],
  #configEditor input[type="url"] {
    width: 90%;
  }
}
