version: 2.1
executors:
  node18:
    docker:
      - image: cimg/node:18.16

orbs:
  browser-tools: circleci/browser-tools@1.4.1
  codecov: codecov/codecov@3.2.5

commands:
  setup:
    steps:
      - checkout
      - run:
          name: Installing Dependencies
          command: npm ci
      - run:
          name: prepare test git user
          command: git config --global user.email "circleci@example.com" && git config --global user.name "CircleCi Build"

jobs:
  build:
    executor: node18
    steps:
      - setup
      - run: mkdir junit
      - run:
          name: Lint
          command: npm run lint
      - browser-tools/install-chrome
      - run:
          name: Test
          command: |
            export CHROME_PATH=`find /home/circleci/project/node_modules -name chrome`
            npm run test-ci
      - codecov/upload
      - store_test_results:
          path: junit
      - store_artifacts:
          path: junit
  semantic-release:
    executor: node18
    steps:
      - add_ssh_keys:
          fingerprints:
            - "89:43:ce:9f:4a:d4:ad:32:47:ef:46:db:03:cd:e4:31"
      - setup
      - run:
          name: revert changes to package-lock.json
          command: git checkout -- package-lock.json
      - run:
          name: Semantic Release
          command: npm run semantic-release

workflows:
  version: 2
  build:
    jobs:
      - build
      - semantic-release:
          context: Project Helix
          requires:
            - build
          filters:
            branches:
              only: main
