#import-da, #da-edit, #da-preview {
    font-size: var(--hlx-import-main-button-font-size);
    background-color: var(--hlx-import-main-button-background-color);
    color: var(--hlx-import-main-button-color);
    white-space: nowrap;
    border: 1px solid var(--hlx-import-main-button-border-color);
    border-radius: 6px;
    line-height: 27px;
    max-height: 32px;
    align-self: center;
}

#import-da:hover,
#da-edit:hover,
#da-preview:hover {
    background-color: #909090;
    color: #303030;
}

#import-da.done {
    background-color: rgb(25, 179, 25);
}